/*

    WebKitGTK
    ====================

    Shamelessly stolen CSS from systemd
    https://github.com/systemd/systemd/tree/main/docs

*/

/* Fonts */

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("fonts/InterVariable.woff2") format("woff2");
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "InterVariable", sans-serif;
        font-optical-sizing: auto;
    }
}

/* Colors */

:root {
    --primary-color: #0461be;
    --rounded-corner: 12px;
    --fg-color: rgb(0 0 6 / 80%);
    --bg-color: #f5f5f6;
    --term-fg: rgb(0 0 6 / 80%);
    --term-bg: white;
}

/* General */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "InterVariable", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    /* ⇩⇩ put footer at the bottom for short pages, such as the 404 ⇩⇩ */
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto minmax(auto, 1fr) auto; /* header, stuff, footer */
}

/* Make tables vertically aligned to the top */
tbody td {
    vertical-align: top;
}

b {
    font-weight: 600;
}

small {
    color: #777;
}

hr {
    margin: 3rem auto 4rem;
    width: 40%;
    opacity: 40%;
}

/* Footer */

footer {
    padding: 4em 0 4em;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin: auto;
}

footer a[href^="http"]:after {
    content: url("assets/extlink-d.svg");
    filter: none;
}

footer a[href^="http"]:has(svg):after {
    content: none;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0 1rem;
    font-weight: 600;
    line-height: 1.25;
    font-variation-settings: "wght" 600; /* needed for webkit */
}

h1 {
    font-size: 1.5rem;
    font-weight: 100;
    font-style: normal;
    margin: 3rem 0 1rem;
}

@media screen and (min-width: 650px) {
    h1 {
        font-size: 1.6rem;
    }
}

h2 {
    font-size: 1.2rem;
}

/* Links */

a {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    font-variation-settings: "wght" 600; /* needed for webkit */
}

a:hover {
    text-decoration: underline;
}

a[href^="http"]:after {
    display: inline-block;
    margin-left: 3px;
    content: url("assets/extlink-l.svg");
}

a[href^="http"]:has(img, svg):after {
    content: none;
}

/* Images */

img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
}

img.pixels,
picture.pixels img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

img.full,
picture.full img {
    width: 100%;
}

/* Code */

code {
    font-size: 80%;
    background-color: var(--term-bg);
    border-radius: 6px;
    border: 6px solid var(--term-bg);
    padding: 0 2px;
}

.highlighter-rouge {
    line-height: normal;
    padding: 2px 1rem;
    border-radius: var(--rounded-corner);
    background-color: var(--term-bg);
    max-width: 100vw;
    overflow-x: auto;
    margin: 1rem 0;
}

code.highlighter-rouge {
    padding: 2px 6px;
    background-color: var(--term-bg);
}

@media only screen and (max-device-width: 480px) {
    /* Mobile */
    .highlighter-rouge {
        max-width: 80vw;
    }
}

/* Singletons */

#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

#logo {
    display: block;
    width: 251px;
    height: 26px;
    background: url("assets/page-logo.svg") no-repeat center;
    padding: 5rem 0 3rem;
    margin: 0 auto;
    position: relative;
}

#logo a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0); /* make text transparent */
    cursor: pointer;
}

/* Buttons */

.dialog-buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 6rem;
}

.inline-button {
    display: inline-block;
    font-weight: 900;
    font-size: 90%;
    padding: 0.4rem 1rem;
    border-radius: var(--rounded-corner);
    background-color: var(--term-bg);
    color: var(--fg-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --primary-color: #81d0ff;
        --fg-color: white;
        --bg-color: #222226;
        --term-fg: white;
        --term-bg: #343437;
    }

    #logo {
        background-image: url("assets/page-logo-i.svg");
    }

    img.filterimg {
        filter: invert() hue-rotate(180deg) opacity(50%);
    }

    a[href^="http"]:after {
        filter: invert();
    }
}
