@import url("css/reset.css");
@import url("css/text.css");

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
  url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Semi Bold';
  src: local('Open Sans Semi Bold'),
  url(fonts/OpenSans-SemiBold.ttf);
}

/* Base information */
/* ========================================================================== */

html {
    width: 100%;
    height: 100%;
    min-height: 100%;

    color: #2e3436;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;

    text-align: justify;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;

}

/* This is used to push the footer to the bottom. */
#main_wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3.5ex;

    background: #dfefff;
    background-image: url('images/background.png'); /* fallback */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1))), url('images/background.png'), #dfefff;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('images/background.png'), #dfefff;
    background:    -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('images/background.png'), #dfefff;
    background:     -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('images/background.png'), #dfefff;
    background:      -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('images/background.png'), #dfefff;
    background:         linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('images/background.png'), #dfefff;
}

a {
    color: #204a87;
}

a:hover {
    color: #3465a4;
}

a:visited {
   color: #5d396e;
}

h1 {
    margin: 0 0 6px;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
    font-size: 35px;
    text-shadow: 0 1px 0 #fff;
    line-height: normal;
}

h2 {
    margin: 20px 0 10px;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 1px 0 #fff;
}

h3 {
    margin: 10px 0 5px;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 0 1px 0 #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.maxwidth {
    height: 100%;
    width: 960px;
    margin: 0 auto;
}

/* Global Domain Bar */
/* ========================================================================== */
#global_domain_bar {
    background: #8b9bab;
    height: 5px;
}

#title_bar {
    background: #383d42;
}

#title_bar span,
#title_bar span a,
#title_bar span a:hover,
#title_bar span a:visited {
    vertical-align: middle;
    line-height: 55px;

    color: white;
    font-weight: bold;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    text-decoration: none;
}

#global_domain_bar .maxwidth {
    position: relative;
}

#global_domain_bar .tab {
    background: #8b9bab;
    position: absolute;
    right: 0;
    float: right;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 4px 2px -2px;
    -webkit-box-shadow: 0 4px 2px -2px;
    box-shadow: 0 4px 2px -2px;
    white-space: nowrap;
}

#global_domain_bar .tab a.root {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    background: url(images/gnome-favicon.png) 0 0 no-repeat;
    padding-left: 18px;
    border-right: 1px solid #ccc;
    padding-right: 6px;
    margin-right: 3px;
}

#global_domain_bar .tab a.root:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

#global_domain_bar .tab a.root:hover {
    text-decoration: underline;
}


#global_domain_bar .tab.webkit {
    margin-right: 120px;
}

#global_domain_bar .tab.webkit a.root {
    background: url(images/webkit-favicon.ico) 0 0 no-repeat
}

#global_domain_bar .tab.twitter {
    margin-right: 232px;
}

#global_domain_bar .tab.twitter a.root {
    background: url(images/twitter-favicon.ico) 0 0 no-repeat
}

#container {
    padding-top: 20px;
    color: #555;
    width: 960px;
    margin: auto;
    min-height: 240px;

    padding-bottom: 5ex;
    overflow: auto;
}

#container .content,
#container .sidebar {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}

#container .content {
    width: 940px;
}

#container.two_columns .content {
    width: 665px;
    padding-right: 25px;
}

#container.two_columns .sidebar {
    width: 270px;
    text-align: left;
}

.subtle_box {
    padding: 20px;
    background: rgba(100%, 100%, 100%, 0.4);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.subtle_box .section:not(:last-child) {
    margin-bottom: 30px;
}

.subtle_box .section > :not(:first-child) {
    margin-left: 10px;
}

.subtle_box .header {
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;

    /* Room for the icon. */
    padding-left: 26px;
    height: 26px;
}

.subtle_box .download { background: url(images/download.png) 0 center no-repeat; }
.subtle_box .documentation { background: url(images/documentation.png) 0 center no-repeat; }
.subtle_box .contact { background: url(images/contact.png) 0 center no-repeat; }
.subtle_box .contribute { background: url(images/heart.png) 0 center no-repeat; }
.subtle_box .news { background: url(images/bolt.png) 0 center no-repeat; }

.subtle_box .subheader {
    font-weight: bold;
    font-size: 105%;
}

.subtle_box .header > span {
    vertical-align: middle;
    margin-left: 5px;
}

.subtle_box li {
    margin-bottom: 0.5ex;
    list-style: none;
}

.subtle_box li p {
    margin-left: 2ex;
}

#footer {
    width: 100%;
    height: 3.5ex;

    border-top: 1px solid #b1b7ca;
    border-bottom: 1px solid #b1b7ca;
    background: #d3dee8;
    color: #555753;
    font-size: 80%;
}

#footer .maxwidth span {
    line-height: 3.5ex;
}

.news {
}
