<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.name }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/style.css">

    <link rel="alternate" type="application/rss+xml" title="Subscribe to WebKitGTK news (RSS feed)" href="/rss.xml" />
    <link rel="alternate" type="application/atom+xml" title="Subscribe to WebKitGTK news (Atom feed)" href="/atom.xml" />

</head>

<body>
    <div id="main_wrapper">
        <div id="global_domain_bar">
            <div class="maxwidth">
                <div class="tab none">
                    <a class="root" href="https://planet.webkitgtk.org/">planet.webkitgtk.org</a>
                </div>
                <div class="tab webkit">
                    <a class="root" href="https://www.webkit.org/">webkit.org</a>
                </div>
                <div class="tab">
                    <a class="root" href="https://www.gnome.org/">GNOME.org</a>
                </div>
            </div>
        </div>

        <div id="title_bar">
            <div class="maxwidth">
                <span id="site_title"><a href="/">WebKitGTK</a></span>
            </div>
        </div>

        <div id="container" class="two_columns max_width">
            <div class="content">
                {{ content }}
            </div>

            <div class="sidebar">
                <div class="subtle_box">
                    <div class="section">
                        <div class="header news"><span>Latest News</span></div>
                        <ul class="navigation_list">
                            {% comment %}
                            Using limit:2 on the for loop doesn't work well because it returns the last two posts (and one of them may be a WSA one).
                            So we can end displaying only one news or no news. Use a counter and break the loop once 2 non-WSA news are displayed.
                            {% endcomment %}
                            {% assign i = 1 %}
                            {% for post in site.posts %}
                                {% unless post.tags contains "WSA" %}
                                    <li><span class="subheader">&#8227; <a href="{{ post.url }}">{{ post.title }}</a></span>
                                        <p>{{ post.date | date_to_long_string | upcase }}</p>
                                    </li>
                                    {% assign i = i | plus:1 %}
                                {% endunless %}
                                {% if i > 2 %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                            <li><span class="subheader">(<a href="/news.html">more</a>)</span>
                        </ul>
                    </div>

                    <div class="section">
                        <div class="header security"><span>Security Advisories</span></div>
                        <ul class="navigation_list">
                            {% for post in site.tags.WSA limit:2 %}
                                <li><span class="subheader">&#8227; <a href="{{ post.url }}">{{ post.title }}</a></span>
                                    <p>{{ post.date | date_to_long_string | upcase }}</p>
                                </li>
                            {% endfor %}
                            <li><span class="subheader">(<a href="/security.html">more</a>)</span>
                        </ul>
                    </div>

                    <div class="section">
                        <div class="header download"><span>Releases</span></div>
                        <ul>
                            <li><span class="subheader">&#8227; Stable tarball</span>
                                <p><a href="/releases/webkitgtk-{{ site.stable-release-version}}.tar.xz">WebKitGTK {{ site.stable-release-version }}</a></p>
                            </li>
                            <li><span class="subheader">&#8227; Unstable tarball</span>
                                <p><a href="/releases/webkitgtk-{{ site.unstable-release-version }}.tar.xz">WebKitGTK {{ site.unstable-release-version }}</a></p>
                            </li>
                            <li><span class="subheader">&#8227; <a href="/releases/">All releases</a></span></li>
                            <li><span class="subheader">&#8227; <a href="/verifying.html">Verifying releases</a></span></li>
                        </ul>
                    </div>

                    <div class="section">
                        <div class="header documentation"><span>Documentation</span></div>
                        <ul>
                            <li><span class="subheader">&#8227; Stable API Reference</span>
                                <p><a href="https://webkitgtk.org/reference/webkit2gtk/stable/index.html">WebKit2</a></p>
                                <p><a href="https://webkitgtk.org/reference/webkit2gtk-web-extension/stable/index.html">WebKit2WebExtension</a></p>
                                <p><a href="https://webkitgtk.org/reference/jsc-glib/stable/index.html">JavaScriptCore</a></p>
                            </li>
                            <li><span class="subheader">&#8227; Unstable API Reference</span>
                                <p><a href="https://webkitgtk.org/reference/webkit2gtk/unstable/index.html">WebKit2</a></p>
                                <p><a href="https://webkitgtk.org/reference/webkit2gtk-web-extension/unstable/index.html">WebKit2WebExtension</a></p>
                                <p><a href="https://webkitgtk.org/reference/jsc-glib/unstable/index.html">JavaScriptCore</a></p>
                            </li>
                            <li><span class="subheader">&#8227; Deprecated API Reference</span>
                                <p><a href="https://webkitgtk.org/reference/webkitgtk/stable/index.html" rel="nofollow">WebKit1</a></p>
                            </li>
                        </ul>
                    </div>

                    <div class="section">
                        <div class="header contact"><span>Contact</span></div>
                        <ul>
                            <li><span class="subheader">&#8227; Mailing lists</span>
                                <p><a href="http://lists.webkit.org/mailman/listinfo/webkit-gtk">webkit-gtk</a></p>
                                <p><a href="http://lists.webkit.org/mailman/listinfo/webkit-help">webkit-help</a></p>
                                <p><a href="http://lists.webkit.org/mailman/listinfo/webkit-dev">webkit-dev</a></p>
                            </li>
                            <li><span class="subheader">&#8227; <a href="https://matrix.to/#/%23webkitgtk:matrix.org">#webkitgtk:matrix.org</a></span></li>
                            <li><span class="subheader">&#8227; <a rel="me" href="https://floss.social/@WebKitGTK">@WebKitGTK on Mastodon</a></span></li>
                            <li><span class="subheader">&#8227; <a href="http://www.twitter.com/webkitgtk">@WebKitGTK on Twitter</a></span></li>
                        </ul>
                    </div>

                    <div class="section">
                        <div class="header contribute"><span>Contribute</span></div>
                        <ul>
                            <li class="subheader">&#8227; <a href="https://bugs.webkit.org/enter_bug.cgi?assigned_to=webkit-unassigned%40lists.webkit.org&attachurl=&blocked=&bug_file_loc=http://&bug_severity=Normal&bug_status=NEW&comment=&component=WebKit%20Gtk&contenttypeentry=&contenttypemethod=autodetect&contenttypeselection=text/plain&data=&dependson=&description=&flag_type-1=X&flag_type-3=X&flag_type-4=X&form_name=enter_bug&keywords=GTK&maketemplate=Remember%20values%20as%20bookmarkable%20template&op_sys=Linux&priority=P3&product=WebKit&rep_platform=PC&short_desc=%5BGTK%5D%20">File a bug</a></li>
                            <li class="subheader">&#8227; <a href="https://www.webkit.org/building/checkout.html">Get the code</a></li>
                            <li class="subheader">&#8227; <a href="https://trac.webkit.org/wiki/BuildingGtk">How to build</a></li>
                            <li class="subheader">&#8227; <a href="https://www.webkit.org/coding/contributing.html">How to submit code</a></li>
                            <li class="subheader">&#8227; <a href="https://trac.webkit.org/wiki/WebKitGTK/StableRelease">Stable branch</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="footer">
        <div class="maxwidth">
            <span class="left">Copyright © 2009‒2022 The WebKitGTK Team</span>
            <span class="right">Hosting kindly provided by <a href="https://www.igalia.com/">Igalia</a>.</span>
            <div class="clear"></div>
        </div>
    </div>

</body>
</html>
